:root {
   /* Set the background of the entire app */
   --ion-background-color: #white;
}

:root {
   --ion-color-primary: #0c1937;
   --ion-color-primary-rgb: 12, 25, 55;
   --ion-color-primary-contrast: #ffffff;
   --ion-color-primary-contrast-rgb: 255, 255, 255;
   --ion-color-primary-shade: #0b1630;
   --ion-color-primary-tint: #24304b;
   --ion-color-secondary: #39bdb4;
   --ion-color-secondary-rgb: 57, 189, 180;
   --ion-color-secondary-contrast: #000000;
   --ion-color-secondary-contrast-rgb: 0, 0, 0;
   --ion-color-secondary-shade: #32a69e;
   --ion-color-secondary-tint: #4dc4bc;
   --ion-color-tertiary: #3e599a;
   --ion-color-tertiary-rgb: 62, 89, 154;
   --ion-color-tertiary-contrast: #ffffff;
   --ion-color-tertiary-contrast-rgb: 255, 255, 255;
   --ion-color-tertiary-shade: #374e88;
   --ion-color-tertiary-tint: #516aa4;
   --ion-color-success: #2ab200;
   --ion-color-success-rgb: 42, 178, 0;
   --ion-color-success-contrast: #ffffff;
   --ion-color-success-contrast-rgb: 255, 255, 255;
   --ion-color-success-shade: #259d00;
   --ion-color-success-tint: #3fba1a;
   --ion-color-warning: #ffcc05;
   --ion-color-warning-rgb: 255, 204, 5;
   --ion-color-warning-contrast: #000000;
   --ion-color-warning-contrast-rgb: 0, 0, 0;
   --ion-color-warning-shade: #e0b404;
   --ion-color-warning-tint: #ffd11e;
   --ion-color-danger: #ff5757;
   --ion-color-danger-rgb: 255, 87, 87;
   --ion-color-danger-contrast: #000000;
   --ion-color-danger-contrast-rgb: 0, 0, 0;
   --ion-color-danger-shade: #e04d4d;
   --ion-color-danger-tint: #ff6868;
   --ion-color-dark: #222428;
   --ion-color-dark-rgb: 34, 34, 34;
   --ion-color-dark-contrast: #ffffff;
   --ion-color-dark-contrast-rgb: 255, 255, 255;
   --ion-color-dark-shade: #1e2023;
   --ion-color-dark-tint: #383a3e;
   --ion-color-medium: #d3d5d8;
   --ion-color-medium-rgb: 211, 213, 216;
   --ion-color-medium-contrast: #000000;
   --ion-color-medium-contrast-rgb: 0, 0, 0;
   --ion-color-medium-shade: #babbbe;
   --ion-color-medium-tint: #d7d9dc;
   --ion-color-light: #f4f5f8;
   --ion-color-light-rgb: 244, 244, 244;
   --ion-color-light-contrast: #000000;
   --ion-color-light-contrast-rgb: 0, 0, 0;
   --ion-color-light-shade: #d7d8da;
   --ion-color-light-tint: #f5f6f9;
}

:root {
   --ion-safe-area-top: 10px;
   --ion-safe-area-bottom: 12px;
}

ul,
ol {
   font-size: 12px;
}

.my-custom-menu {
   --width: 500px;
}

.light-border {
   border: 1px solid rgb(235, 233, 233);
}

.text-on-bottom>.button-inner {
   flex-direction: column;
}

ion-segment {
   margin-bottom: 5px
}

.app-sr-btns {
   margin-top: 1em;
   margin-bottom: 2.5em;
}

.app-align-avatar-top {
   margin: 16px 10px 0 0;
   margin-bottom: auto;
}

ion-list-header {
   padding-left: 10px;
}

ion-row {
   margin-bottom: 15px;
}

.underline {
   text-decoration: underline;
}

.spacing {
   letter-spacing: 5px;
}

.uppercase {
   text-transform: uppercase;
}

.ion-pb-20 {
   padding-bottom: 20px;
}

.ion-pb-5 {
   padding-bottom: 5px;
}

h7 {
   margin-top: 8px;
   margin-bottom: 8px;
   line-height: 1.0;
   font-size: 12px;
}

.bottom-margin-10 {
   margin-bottom: -10px;
}

.bottom-margin-5 {
   margin-bottom: -5px;
}

.bottom-margin-2 {
   margin-bottom: -2px;
}

.bottom-margin-plus2 {
   margin-bottom: 2px;
}

.hr {
   border-top-color: #b6bcc2
}

p {
   font-size: 12px;
}

ion-grid {
   font-size: 12px;
}

.line-height-16 {
   line-height: 16px;
}

#more {
   display: none;
}

/* Search Box */
.sb {
   position: relative;
   width: 100%;
   vertical-align: middle;
   height: 34px
}

.sb-backIcon {
   background-color: transparent;
   color: royalblue;
   cursor: pointer;
   font-size: 16px;
   height: 40px;
   padding: 12px;
   width: 38px;
}

.sb-cell {
   -webkit-overflow-scrolling: touch;
   height: 100%;
   left: 0;
   overflow: hidden;
   position: fixed;
   top: 50px;
   transition: 0.5s;
   width: 100%;
   z-index: 9000;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.9);
   overflow-x: hidden;
   overflow-y: scroll;
   bottom: 0;
   right: 0;
}

.sb-container {
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 10px;
   left: 0px;
   position: absolute;
   width: 100%;
   min-width: 150px;
}

.sb-containerFocus {
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
   border-color: #66afe9 !important;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
   outline: 0;
   z-index: 9000;
}

.sb-containerField {
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 4px;
   left: 0px;
   position: absolute;
   width: 100%;
   min-width: 150px;
}

.sb-hint {
   -webkit-appearance: none;
   background-color: transparent;
   border: none;
   border-radius: 0;
   box-shadow: none !important;
   color: lightgray;
   font: normal normal normal 14px arial, sans-serif;
   left: 0px;
   outline: 0px !important;
   position: absolute;
   top: 0px;
   width: 100%;
}

.sb-hover {
   background-color: whitesmoke;
}

.sb-icon {
   background-color: transparent;
   color: royalblue;
   cursor: pointer;
   font-size: 16px;
   height: 40px;
   padding: 12px;
   width: 38px;
}

.sb-icons {
   align-self: center;
   display: inline-block;
   height: 40px;
   white-space: nowrap;
   position: relative;
}

.sb-icon2 {
   color: lightgray;
   font-size: 16px;
   position: absolute;
   left: 8px;
   top: 8px;
}

.sb-icon2:before {
   content: "\f002"
}

.sb-icon3 {
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
   color: lightgray;
   float: right;
   font-size: 16px;
   transform: rotate(45deg);
   padding: 8px;
}

.sb-icon3Block {
   cursor: pointer;
   float: right;
   position: absolute;
   right: 8px;
   top: 2px;
   width: 40px;
   height: 40px;
}

.sb-icon3:before {
   content: "\f060"
}

.sb-input {
   -webkit-appearance: none;
   background-color: transparent;
   border: none;
   border-radius: 0;
   box-shadow: none !important;
   color: #555;
   font: normal normal normal 14px arial, sans-serif;
   left: 0px;
   outline: 0px !important;
   position: absolute;
   top: 0px;
   width: 100%;
}

.sb-inputs {
   background-color: transparent;
   align-self: center;
   flex: 1 200px;
   height: 18px;
   left: 8px;
   position: relative;
}

.sb-item {
   cursor: pointer;
   height: 40px;
   position: relative;
   width: 100%;
}

.sb-line {
   border-top: 1px solid #e8eaed;
   margin: 0 14px;
   padding-bottom: 4px;
}

.sb-searchBar {
   display: flex;
}

.sb-text {
   display: inline-block;
   font: normal normal normal 16px/1.5 arial, sans-serif;
   left: 30px;
   overflow: hidden;
   position: absolute;
   text-overflow: ellipsis;
   top: 8px;
   width: 75%;
   white-space: nowrap;
}

.sb-voiceBox {
   align-items: center;
   background: white;
   display: flex;
   flex-direction: row;
   height: 150px;
   justify-content: center;
   left: 0px;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 9001;
}

.sb-voiceExit {
   color: black;
   cursor: pointer;
   font-size: 18px;
   position: absolute;
   right: 8px;
   top: 8px;
}

.sb-voiceIcon {
   color: gray;
   cursor: pointer;
   font-size: 60px;
   padding-left: 50px;
   padding-right: 10px;
}

.sb-voiceText {
   color: red;
   font: normal normal normal 22px/1.5 arial, sans-serif;
   padding-left: 10px;
}

/* Fav Icons */
@font-face {
   font-family: FontAwesome;
   src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0);
   src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
   font-weight: 400;
   font-style: normal
}

.fa {
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.fa-microphone:before {
   content: "\f130"
}

.fa-close:before,
.fa-remove:before,
.fa-times:before {
   content: "\f00d";
}

.fa-arrow-left:before {
   content: "\f060";
}

.fa-search:before {
   content: "\f002";
}

/* Search Results Buttons */
ion-button {
   --background: #00ff00;
}

.fancy-button {
   --color: #222;
   --margin-left: 10px;
   --padding-start: 10px;
   --padding-end: 10px;
   --padding-top: 10px;
   --padding-bottom: 0px;
   --background: #00ff00;
}